@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1d2939;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-woovi-green: #03d69d;
  --color-woovi-dark: #1d2939;
  --color-woovi-muted: #667085;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
